header {
    text-align: center;
    background-color: lightskyblue;
    color: white;
    padding: 3px;
}

footer {
    text-align: center;
    background-color: lightskyblue;
    color: white;
    padding: 6px;
}
