header {
    text-align: center;
    background-color: red;
    color: white;
    padding: 3px;
}

footer {
    text-align: center;
    background-color: #ff0000;
    color: white;
    padding: 3px;
}
